* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(120deg, #0b8b74 0%, #045647 100%);
}

.sec-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 45vh;
    width: 40vw;
    background-image: linear-gradient(to left, rgb(19, 79, 134), rgb(11, 82, 148));
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.wrapper > * {
    margin-top: 15vh;
}

h1 {
    color: #fff;
    font-size: 3rem;
}

form {
    display: flex;
    align-items: center;
    width: 70%;
    height: 2.4em;
    background-color: #fff;
}

form>input {
    height: 100%;
    width: 75%;
    border: #fff;
    outline: none;
    text-indent: 1rem;
}

form>button {
    height: 2rem;
    width: 19%;
    margin-left: 1.3rem;
    cursor: pointer;
}

.h1-div {
    height: 12%;
}

.top-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
}

select {
    height: 2.7em;
    width: 20%;
    background: white;
    border: 1px solid white;
    outline: none;
}

.add-btn {
cursor: pointer;
}

.todos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55%;
}

.todo {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    min-height: 5vh;
    margin-top: 10px;
}

.done-btn {
    height: 100%;
    width: 20%;
    background-color: rgb(77, 200, 122);
    border: 1px solid rgb(77, 200, 122);
    color: white;
    cursor: pointer;
    border-radius: 2px;
}

.delete-btn {
    height: 100%;
    width: 20%;
    background-color: rgb(243, 86, 99);
    border: 1px solid rgb(243, 86, 99);
    color: white;
    cursor: pointer;
    border-radius: 2px;
}

.pending {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #fff;
    width: 58%;
    height: 2.4rem;
}

.todo h2 {
    margin-left: 1rem;
}

.todo {
    display: flex;
    align-items: center;
}

.completion {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #fff;
    text-decoration: line-through;
    text-decoration-color: rgb(14, 13, 13);
    text-decoration-thickness: 1.2px;
    width: 58%;
    height: 2.4rem;
}

.todo-text {
    color: gray;
    font-size: 1.3rem;
}
